<div class="wrapper d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
    <section class="timeline-container container py-5">
        <div class="row mb-5 w-100">
            <div class="col text-center">
                <h5 style="letter-spacing: 0.2em; font-size: 1.2rem">EXPERIENCES</h5>
            </div>
        </div>
    </section>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="timeline-centered timeline-sm">
                <article class="timeline-entry" *ngFor="let exp of experiences; let i = index"
                    [ngClass]="{ '': i % 2 === 0, 'left-aligned': i % 2 !== 0 }">
                    <div class="timeline-entry-inner">
                        <time class="timeline-time" style="color: #9B5DE5"><span
                                style="color: #9B5DE5">{{exp.start_date}}</span><span
                                style="color: #9B5DE5">{{exp.end_date}}</span></time>
                        <div class="timeline-icon" style="background-color: #9B5DE5;"><i class="fa fa-exclamation"></i>
                        </div>
                        <div class="timeline-label">
                            <h4 class="timeline-title" style="font-size: 1.5rem;">{{exp.job_title}}</h4>
                            <p><strong style="color: #778DA9">{{exp.company}} &#183; {{exp.location}}</strong></p>
                            <p>{{exp.description}}</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>