<!-- <div class="wrapper d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
    <section class="timeline-container container py-5">
        <div class="row mb-5 w-100">
            <div class="col text-center">
                <h5 style="letter-spacing: 0.2em;">EXPERIENCES</h5>
            </div>
        </div>

        <div class="timeline">
            <div *ngFor="let exp of experiences; let i = index" class="timeline-item"
                [ngClass]="{ 'left': i % 2 === 0, 'right': i % 2 !== 0 }">
                <div class="timeline-content">
                    <h5>{{ exp.job_title }}</h5>
                    <p><strong>{{ exp.company }}</strong> · {{ exp.start_date }} – {{ exp.end_date }}</p>
                    <p>{{ exp.description }}</p>
                </div>
            </div>
        </div>
    </section>
</div> -->


<!-- <div class="wrapper d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
    <section class="timeline-container container py-5">
        <div class="row mb-5 w-100">
            <div class="col text-center">
                <h5 style="letter-spacing: 0.2em;">EXPERIENCES</h5>
            </div>
        </div>
    </section>
    <div class="container bootstrap snippets bootdeys d-flex flex-column justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="timeline-centered timeline-sm">
                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <time datetime="2014-01-10T03:45" class="timeline-time"><span>12:45
                                AM</span><span>Today</span></time>
                        <div class="timeline-icon bg-violet"><i class="fa fa-exclamation"></i></div>
                        <div class="timeline-label">
                            <h4 class="timeline-title">New Project</h4>

                            <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered
                                prepare
                                how cordial.</p>
                        </div>
                    </div>
                </article>
                <article class="timeline-entry left-aligned">
                    <div class="timeline-entry-inner">
                        <time datetime="2014-01-10T03:45" class="timeline-time"><span>9:15
                                AM</span><span>Today</span></time>
                        <div class="timeline-icon bg-green"><i class="fa fa-group"></i></div>
                        <div class="timeline-label bg-green">
                            <h4 class="timeline-title">Job Meeting</h4>

                            <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water
                                spinach kombu
                                courgette.</p>
                        </div>
                    </div>
                </article>
                <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                        <time datetime="2014-01-09T13:22" class="timeline-time"><span>8:20
                                PM</span><span>04/03/2013</span></time>
                        <div class="timeline-icon bg-orange"><i class="fa fa-paper-plane"></i></div>
                        <div class="timeline-label bg-orange">
                            <h4 class="timeline-title">Daily Feeds</h4>

                            <p><img src="https://www.bootdey.com/image/45x45/" alt=""
                                    class="timeline-img pull-left">Parsley
                                amaranth tigernut silver beet maize fennel spinach ricebean black-eyed. Tolerably
                                earnestly
                                middleton extremely distrusts she boy now not. Add and offered prepare how cordial.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-entry-inner">
                        <div style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);"
                            class="timeline-icon"><i class="fa fa-plus"></i></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div> -->



<div class="wrapper d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
    <section class="timeline-container container py-5">
        <div class="row mb-5 w-100">
            <div class="col text-center">
                <h5 style="letter-spacing: 0.2em;">EXPERIENCES</h5>
            </div>
        </div>
    </section>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="timeline-centered timeline-sm">
                <article class="timeline-entry" *ngFor="let exp of experiences; let i = index"
                    [ngClass]="{ '': i % 2 === 0, 'left-aligned': i % 2 !== 0 }">
                    <div class="timeline-entry-inner">
                        <time class="timeline-time" style="color: #9B5DE5"><span
                                style="color: #9B5DE5">{{exp.start_date}}</span><span
                                style="color: #9B5DE5">{{exp.end_date}}</span></time>
                        <div class="timeline-icon" style="background-color: #9B5DE5;"><i class="fa fa-exclamation"></i>
                        </div>
                        <div class="timeline-label">
                            <h4 class="timeline-title">{{exp.job_title}}</h4>
                            <p><strong>{{exp.company}} &#183; {{exp.location}}</strong></p>
                            <p>{{exp.description}}</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>