.custom-card-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #212f45;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 100%;
    height: 100%;

    &:hover {
        box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
    }
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
    flex-grow: 1;
    color: #e0e1dd;
}

.card-tags {
    background-color: #212f45;
    padding: 0.75rem 1rem;
}

.tag {
    padding: 0.25em 0.75em;
    font-size: 0.85rem;
    border-radius: 999px;
    background-color: #778DA9;
    color: #0D1B2A;
    white-space: nowrap;

    @media (max-width: 768px) {
        font-size: 0.75rem;
        padding: 0.2em 0.6em;
    }
}

.cta-button {
    min-width: 160px;
    border: 2.5px solid #778da9;
    border-radius: 30px;
    color: #e0e1dd;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    background: transparent;

    &:hover {
        background-color: #778da9;
        color: white;
    }
}