<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container d-flex flex-column align-items-center text-center p-0 m-0">

        <div class="row w-100 mb-4">
            <div class="col">
                <h5 style="letter-spacing: 0.2em;">Projects</h5>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width:380px">
                <app-projectcard [projectName]="'Sample Angular App'"></app-projectcard>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width:380px">
                <app-projectcard [projectName]="'Sample Angular App 1'"></app-projectcard>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width:380px">
                <app-projectcard [projectName]="'Sample Angular App 2'"></app-projectcard>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width:380px">
                <app-projectcard [projectName]="'Sample Angular App 3'"></app-projectcard>
            </div>
        </div>

    </div>
</div>