<nav class="navbar navbar-expand-md border-bottom mb-3 fixed-top" style="background-color: rgb(197, 224, 248);">
    <div class="container">
        <ul class="nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link text-secondary">About Me</a></li>

            <li class="nav-item"><a class="nav-link text-secondary">Experience</a></li>

            <li class="nav-item"><a class="nav-link text-secondary">Projects</a></li>

            <li class="nav-item"><a class="nav-link text-secondary">Contact</a></li>

        </ul>
    </div>
</nav>