<div class="wrapper d-flex flex-column min-vh-100">
  <div class="wrapper">
    <app-nav></app-nav>
  </div>

  <section class="main-section" style="background-color: rgb(146, 169, 189);">
    <app-home class="flex-grow-1 d-flex flex-column">

    </app-home>
  </section>


  <section class="main-section" style="background-color: rgb(76, 123, 165);"><app-aboutme></app-aboutme></section>



  <section class="main-section" style="background-color: rgb(29, 69, 104);">
    <app-experience></app-experience>
  </section>

  <section class="main-section" style="background-color: rgb(82, 82, 82);">
    <app-projects></app-projects>
  </section>
</div>