/* You can add global styles to this file, and also import other style files */
* {
    color: #e0e1dd;
    font-family: "poppins", sans-serif;
}


.scroll-section {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.6s ease-in-out;
    will-change: opacity, transform;
}

.scroll-section.active {
    opacity: 1;
    transform: scale(1);
}