<div class="d-flex flex-column vh-100 justify-content-center align-items-center">
    <h5 class="text-center" style="letter-spacing: 0.2em; color: #9B5DE5; font-size: 1.2rem">SOFTWARE DEVELOPER</h5>
    <h1 class="text-center display-1 mt-4" style="font-size: 5rem"><strong>Transforming Ideas Through</strong></h1>
    <h1 class="text-center display-1" style="font-size: 5rem"><strong>Code & Teamwork</strong></h1>
    <h5 class="text-center mt-5" style="font-size: 1.2rem">Turning challenges into intuitive, scalable</h5>
    <h5 class="text-center mb-5" style="font-size: 1.2rem">software that makes a difference</h5>

    <div id="sd-container">
        <div class="arrow"></div>
        <div class="arrow"></div>
    </div>
</div>